.dropdown {
    display: none;
}

.dropdown.show {
    display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    z-index: 4;
}


.dropdown-content {
    width: 80px;
    border-radius: 4px;
    background-color: black;
    flex-direction: column;

}

.dropdown-body {
    margin-top: 10px;
    margin-left: 15px;
    overflow: auto;
    z-index: 2;
    background-color: brown;


}



.dropdown-content button {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    border-color: black;
    border-width: 0.5px;
    background-color: rgb(233, 10, 10);
    opacity: 1;
}